body{
    background-image: url(kepek/irzaszlo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px solid black;
    border-radius: 10px;
}
p{
    text-align: justify;
}
h1{
    padding: 10px;
    text-align: center;
}
img{
    width: 40vw;
    float: right;
    margin: 10px;
}

@media screen and (min-width: 750px) {
    img{
        width: 20vw;
    }
}

@media screen and (min-width: 1000px) {
    img{
        width: 18vw;
    }
}

.card{
    margin: 10px;
}

div.card img{
    width: 90%;
    margin: auto;
    position: relative;
    top: 10px;
}

#kotelezo{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}